@import url('https://fonts.cdnfonts.com/css/code-new-roman');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #1a1a1a;
    --foreground: #f0f0f0;
    --primary: #ff9999;
}
  
body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Code New Roman', sans-serif;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }
  
  .animate-fadeIn.delay-500 {
    animation-delay: 0.5s;
  }